html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  color: #000;
  background: #fff;
  font: 12px/1.25 "Arial", "Helvetica", sans-serif;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

* {
  max-height: 1000000px; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

img {
  border-style: none;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #666; }
  a:hover {
    text-decoration: underline; }

input,
textarea,
select {
  font: 100% "Arial", "Helvetica", sans-serif;
  color: #000;
  vertical-align: middle; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  margin: 0;
  padding: 4px 7px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #999; }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: #4d4d4d; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.2em;
  margin: 0 0 1.2em; }

p {
  margin: 0 0 1.2em; }

q {
  quotes: none; }
  q:before, q:after {
    content: '';
    content: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.gm-style img {
  max-width: none; }

@media only screen and (min-width: 1025px) {
  a[href^=tel], a[href^=skype], a[href^=sms] {
    cursor: default;
    pointer-events: none; } }

#wrapper {
  padding: 40px 10px; }

h1 {
  text-align: center; }

.css-pie {
  width: 180px;
  height: 180px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  margin: 50px auto; }

[class*="sector-"],
[class^="sector-"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip: rect(90px, 180px, 180px, 0px); }
  [class*="sector-"] span,
  [class^="sector-"] span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    clip: rect(90px, 180px, 180px, 0);
    transform: rotate(-119.999deg); }

.sector-1 {
  transform: rotate(0); }
  .sector-1 span {
    background: #fff; }
    .sector-1 span:hover {
      background: #fee; }

.sector-2 {
  transform: rotate(60.0012deg); }
  .sector-2 span {
    background: #f00; }
    .sector-2 span:hover {
      background: #cc0000; }

.sector-3 {
  transform: rotate(120.002deg); }
  .sector-3 span {
    background: #0f0; }
    .sector-3 span:hover {
      background: #00cc00; }

.sector-4 {
  transform: rotate(180.004deg); }
  .sector-4 span {
    background: #0ff; }
    .sector-4 span:hover {
      background: #00cccc; }

.sector-5 {
  transform: rotate(240.005deg); }
  .sector-5 span {
    background: #ff0; }
    .sector-5 span:hover {
      background: #0000cc; }

.sector-6 {
  transform: rotate(300.006deg); }
  .sector-6 span {
    background: #00f; }
    .sector-6 span:hover {
      background: #0000cc; }

.piechart {
  width: 180px;
  height: 180px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  margin: 50px auto; }

[class*="pie-"],
[class^="pie-"] {
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  top: 0;
  transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  overflow: hidden; }
  [class*="pie-"] span,
  [class^="pie-"] span {
    content: '';
    position: absolute;
    border-top: 57px solid transparent;
    border-left: 100px solid red;
    border-bottom: 57px solid transparent;
    bottom: -22px;
    right: -15px;
    transform: rotate(45deg); }

.pie-1 {
  transform: rotate(0); }
  .pie-1 span:hover {
    border-left-color: #b30000; }

.pie-2 {
  transform: rotate(60deg);
  z-index: 1; }
  .pie-2 span {
    border-left-color: #00ff00; }
    .pie-2 span:hover {
      border-left-color: #00b300; }

.pie-3 {
  transform: rotate(120deg);
  z-index: 2; }
  .pie-3 span {
    border-left-color: #0000ff; }
    .pie-3 span:hover {
      border-left-color: #0000b3; }

.pie-4 {
  transform: rotate(180deg);
  z-index: 3; }
  .pie-4 span {
    border-left-color: #ffff00; }
    .pie-4 span:hover {
      border-left-color: #b2b300; }

.pie-5 {
  transform: rotate(240deg);
  z-index: 4; }
  .pie-5 span {
    border-left-color: #00ffff; }
    .pie-5 span:hover {
      border-left-color: #00b2b3; }

.pie-6 {
  transform: rotate(300deg);
  z-index: 5; }
  .pie-6 span {
    border-left-color: #fff; }
    .pie-6 span:hover {
      border-left-color: orange; }

.piechart-skew {
  width: 180px;
  height: 180px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  margin: 50px auto;
  z-index: 90; }

[class*="pies-"],
[class^="pies-"] {
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  top: 0;
  transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  overflow: hidden;
  transform: rotate(-13deg); }
  [class*="pies-"] span,
  [class^="pies-"] span {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 53px;
    right: 0;
    transform: rotate(90deg) skew(-28deg);
    background: red; }

.pies-1 {
  transform: rotate(-13deg); }
  .pies-1 span {
    background: red; }
    .pies-1 span:hover {
      background: #b30000; }

.pies-2 {
  transform: rotate(47deg);
  z-index: 1; }
  .pies-2 span {
    background: #00ff00; }
    .pies-2 span:hover {
      background: #00b300; }

.pies-3 {
  transform: rotate(107deg);
  z-index: 2; }
  .pies-3 span {
    background: #0000ff; }
    .pies-3 span:hover {
      background: #0000b3; }

.pies-4 {
  transform: rotate(167deg);
  z-index: 3; }
  .pies-4 span {
    background: #ffff00; }
    .pies-4 span:hover {
      background: #b2b300; }

.pies-5 {
  transform: rotate(227deg);
  z-index: 4; }
  .pies-5 span {
    background: #00ffff; }
    .pies-5 span:hover {
      background: #00b2b3; }

.pies-6 {
  transform: rotate(287deg);
  z-index: 5; }
  .pies-6 span {
    background: #fff; }
    .pies-6 span:hover {
      background: orange; }

/*# sourceMappingURL=all.css.map */